# SPDX-FileCopyrightText: 2025 facility13.devops contributors <https://github.com/ForNeVeR/facility13.devops>
#
# SPDX-License-Identifier: MIT

name: main
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  schedule:
  - cron: 0 0 * * 6
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25
        with:
          args: "-c ansible-lint.yml"
  licenses:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out the repository
      uses: actions/checkout@v6
    - name: REUSE license check
      uses: fsfe/reuse-action@v6
  encoding:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out the repository
      uses: actions/checkout@v6
    - name: Verify encoding
      shell: pwsh
      run: scripts/Test-Encoding.ps1
